#Main {
  overflow-x: hidden;
  min-height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(15, 15, 15);
  margin: auto;
}

.authbar {
  display: flex;
  gap: 100px;
  margin-right: 30px;
}

.authbar a {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap;
  text-decoration: none;
  margin-right: 20px;
}

.hamburger,
.closeBurger {
  width: 50px;
  display: none;
  height: 50px;
  margin-right: 30px;
}

.sidebar {
  display: none;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  color: rgb(255, 255, 255);
  transition: 0.6s ease-in-out;
  position: relative;
  height: 100%;
  background-color: rgb(15, 15, 15);
}

.closeBurger {
  float: right;
  margin-right: 40px;
  position: absolute;
  right: 0;
  margin-top: 40px;
}

.sidebar-link {
  background-color: rgba(39, 43, 45, 0.43);
  width: 80%;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: start;
  padding: 15px;
  position: relative;
  top: 300px;
  border-radius: 15px;
}

.sidebar-link a {
  text-decoration: none;
  line-height: 26px;
  font-size: 18px;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 700px) {
  .hamburger,
  .closeBurger {
    display: block;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }

  .authbar {
    display: none;
  }
}
